:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --font-size: 16px;
  --padding: 1rem;
  --box-width: calc(100% / 3);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: var(--box-width);
  padding: var(--padding);
  font-size: var(--font-size);
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
}

.box:nth-child(2n) {
  background-color: var(--primary-color);
}
button {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: black;
}
.a-task4-2 {
  color: white;
  text-decoration: none;
}
.a-task4-2:hover {
  color: black;
}
