body {
  background: linear-gradient(135deg, #3b3b3b, #131313);
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 2rem 0;
  text-shadow: 2px 2px 5px #333;
}

p {
  margin-bottom: 2rem;
}

.border {
  border: 1px solid #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #333;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #fff;
  box-shadow: 2px 2px 5px #333;
  border-radius: 5px;
  color: black;
}

th {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: left;
  border-bottom: 2px solid #fff;
}

td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #333;
}
button {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: black;
}
.a-task4-2 {
  color: white;
  text-decoration: none;
}
.a-task4-2:hover {
  color: black;
}
